.flute-user {
    @extend .flex-center, .gap-3;

    justify-content: flex-start;
    width: max-content;

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
        transition: var(--transition)
    }

    &-text {
        @extend .d-flex, .flex-column;

        span {
            font-weight: 500;
            font-size: var(--h6);
            line-height: 1.7;
            color: var(--text-300);
        }

        small {
            line-height: 1.5;
        }
    }

    &__roles {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    &__role {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0 0.6rem;
        background: var(--transp-1);
        border-radius: 25px;
        border: 1px solid var(--transp-2);
        transition: all var(--transition);

        &-square {
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }

        &-name {
            font-size: var(--p-small);
            font-weight: 500;
            color: var(--text);
        }
    }

    &__socials {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;

        &-item {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: var(--primary);
            transition: all var(--transition);
            color: var(--primary-900);

            &:hover {
                transform: translateY(-2px);
                background: var(--primary-400);
            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                font-size: var(--h6);
            }
        }
    }
}